* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #444;
  color: #bbb;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  align-items: center;
  background-color: #222;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 40px;
  width: 100vw;
}

nav > a {
  text-decoration: none;
}

nav > a > span {
  color: #bbb;
  font-size: 1.5em;
  font-weight: bold;
}

#nav-links > a:first-child {
  margin-right: 20px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  justify-content: center;
}

.filler {
  flex: 1;
}

#home-page-title {
  color: #bbb6;
  font-size: 3em;
}

section > h1 {
  margin: 80px 0 40px;
  text-align: center;
  width: 100%;
}

#flights-list {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(5, fit-content(50vw));
}

#flights-list > div,
#flight-details > div {
  background-color: #666;
  padding: 4px 8px;
}  

#flights-list > div.table-header,
#flights-list > div.flight-detail-link,
#flight-details > div.table-header {
  background-color: #222;
  font-weight: bold;
}

#flight-details {
  display: grid;
  gap: 4px;
  grid-template-columns: fit-content(50vw) fit-content(50vw);
}

form {
  display: grid;
  column-gap: 12px;
  grid-template-columns: fit-content(50vw) 30vw;
  row-gap: 24px;
}

form > label {
  text-align: right;
}

form > button {
  grid-column: span 2;
  margin: 20px auto;
  width: 100px;
}

#inset-form, #inset-form * {
  display: inherit;
  margin: 0;
}