<%- include('../partials/header') %>

<section id='create-flight'>
  <h1>Create Flight</h1>

  <form action='/flights' method='POST'>
    <label for='airline'>Airline:</label>
    <select class='form-field' name='airline'>
      <option value='American'>American</option>
      <option value='Southwest'>Southwest</option>
      <option value='United'>United</option>
    </select>

    <label for='airport'>Airport:</label>
    <select class='form-field' name='airport'>
      <option value='AUS'>AUS</option>
      <option value='DEN' selected>DEN</option>
      <option value='DFW'>DFW</option>
      <option value='LAX'>LAX</option>
      <option value='SAN'>SAN</option>
    </select>

    <label for='flightNo'>Flight Number:</label>
    <input
      class='form-field'
      name='flightNo' type='number' min='10' max='9999'
    />

    <label for='departs'>Departure Date/Time:</label>
    <input 
      class='form-field'
      name='departs' type='datetime-local'
    />

    <button type='submit'>Add Flight</button>
  </form>
</section>

<%- include('../partials/footer') %>
